*.orig
*.pyc
*.pyo
*.sqlite
*.sqlite3
*egg-info*
.coverage
.coverage.tox*
.idea/
.tox/
.vagrant
_build/
/build/
coverage.xml
document_storage/
gpg_home/
htmlcov/
mayan/media/
mayan/media/document_cache/
mayan/settings/local.py
mayan/error.log
settings_local.py
static_collected/
/celerybeat-schedule
/fabfile_install
/dist/
/misc/mayan.geany
/mayan/media/static/
/venv/
/whoosh_index/
